@import "tailwindcss";

@theme {
  --font-hand: var(--font-patrick-hand);
  --color-background: #f8f9fa;
  --color-foreground: #212529;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
  font-family: var(--font-hand), cursive;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
