@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --accent: #a65d45;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #e28a6b;
  }
}

@theme inline {
  --color-accent: var(--accent);
}

.shiki,
.shiki span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

.prose a {
  @apply text-accent decoration-accent;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }
}
